.l-flex
    display: flex
.l-align-center
    align-items: center
.l-flex-wrap
    flex-wrap: wrap
.l-sidebar
    background: $color-dark
    padding: 0 16px
    min-width: 220px
.l-main
  width: 100%
.l-header
  display: flex
  width: 100
  align-items: center
  margin: 16px
  @include sm
    margin: 16px 2px
