html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background: #131417; }

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF; }

.l-flex {
  display: flex; }

.l-align-center {
  align-items: center; }

.l-flex-wrap {
  flex-wrap: wrap; }

.badge-warning {
  background-color: #ffdd40;
  color: #1F1F26; }

h1 .logo {
  margin: 0 20px; }

.l-sidebar {
  min-width: 190px; }

.sidebar {
  background: #1F1F26; }
  .sidebar ul {
    list-style: none; }
  .sidebar .sub-menu-list a {
    text-decoration: none; }

.text-primary {
  color: #0ebeff; }

.text-success {
  color: #47cf73; }

.text-warning {
  color: #ffdd40; }

.text-muted {
  color: #b7bbc8; }
