html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background: #131417;
  height: 100%;
  overflow-x: hidden; }

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF; }

a {
  text-decoration: none; }

.l-flex {
  display: flex; }

.l-align-center {
  align-items: center; }

.l-flex-wrap {
  flex-wrap: wrap; }

.l-sidebar {
  background: #1F1F26;
  min-width: 198px; }

.l-main {
  width: 100%; }

.l-header {
  display: flex;
  width: 100;
  align-items: center;
  margin: 8px; }
  @media (max-width: 576px) {
    .l-header {
      margin: 16px 2px; } }

.badge {
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 3px;
  padding: 1px 4px; }

.badge-warning {
  background-color: #ffdd40;
  color: #1F1F26; }

.button {
  border-radius: 4px;
  padding: 12px 16px;
  min-width: 80px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff; }
  .button:hover {
    opacity: 0.8; }
  @media (max-width: 576px) {
    .button {
      font-size: 8px; } }
  .button-rainbow {
    background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    padding: 14px 3px;
    width: 360px;
    text-decoration: none;
    margin-left: 16px;
    border: none; }
    .button-rainbow:hover {
      opacity: 0.2; }
    .button-rainbow-text {
      color: #fff;
      background-color: #000;
      padding: 11px 36px;
      border: none; }
  .button-secondary {
    background-color: #444857;
    color: #fff;
    border: none;
    min-width: 100px;
    font-size: 15px; }
  .button-success {
    background-color: #47cf73;
    color: #000;
    margin-right: 8px;
    border: none;
    min-width: 100px;
    font-size: 15px; }

.product-item-wrap {
  margin: 32px; }

.product-item-container {
  width: 360px;
  height: 340px;
  background-color: #1F1F26; }

.product-item-card:hover {
  transition: transform 0.3s;
  transform: scale(1.05, 1.05);
  opacity: 0.5;
  cursor: pointer; }

.product-item-footer {
  margin: 32px;
  text-align: center; }

.code-card {
  background-color: #1d1e22;
  position: relative;
  height: 180px;
  padding: 10px;
  width: 300px;
  border-radius: 6px;
  bottom: 20px;
  left: 280px; }
  @media (max-width: 992px) {
    .code-card {
      left: 50px; } }
  .code-card-margin-left-2rem {
    margin-left: 2rem; }
  .code-card-margin-left-3rem {
    margin-left: 3rem; }
  .code-card-html {
    display: flex;
    justify-content: space-between; }
  .code-card-two {
    bottom: 10px;
    left: 340px; }
    @media (max-width: 992px) {
      .code-card-two {
        left: 110px; } }
  .code-card-three {
    left: 280px;
    bottom: 0px; }
    @media (max-width: 992px) {
      .code-card-three {
        left: 50px; } }

.cursor {
  animation: blink 1s infinite; }

@keyframes blink {
  0% {
    color: #fff; }
  100% {
    color: #000; } }

.features {
  justify-content: center;
  margin-top: 40px; }
  .features-card {
    padding: 32px; }
    @media (max-width: 576px) {
      .features-card {
        padding: 32px 0; } }
  .features-icon {
    background: black;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    top: 48px;
    left: 24px;
    height: 80px;
    width: 80px;
    text-align: center; }
    .features-icon-row {
      background: black;
      padding: 4px;
      margin-right: 4px;
      border-radius: 4px;
      text-align: center; }
  .features-content {
    background: #1F1F26;
    border-radius: 8px;
    padding: 40px;
    width: 360px;
    height: 340px; }
  .features-image {
    width: 100%; }
    .features-image-user {
      width: 40px;
      height: 40px;
      border-radius: 4px;
      margin: 16px 8px 0px 0px; }
  .features-wrapper-icons {
    display: flex;
    margin-top: 24px; }
  .features-text {
    display: flex; }
    .features-text-icon {
      margin-left: 4px; }
    .features-text-user {
      margin: 8px 0 0 0; }

.footer {
  background: #000;
  justify-content: space-between; }
  .footer-right {
    margin: 0 24px; }
  .footer-list {
    display: flex;
    list-style: none;
    padding: 0 24px; }
    @media (max-width: 576px) {
      .footer-list {
        font-size: 0.8rem; } }
    .footer-list-item {
      margin-right: 0.5rem;
      color: #b7bbc8; }
      .footer-list-item-bold {
        color: #fff;
        font-weight: bold; }

.hero-content {
  display: flex; }
  @media (max-width: 768px) {
    .hero-content {
      display: block; } }

.hero-discription {
  width: 50%;
  padding: 48px;
  margin: 0; }
  @media (max-width: 768px) {
    .hero-discription {
      width: 100%; } }

.hero-footer {
  font-size: 1.4rem; }

.hero-gray-card {
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%);
  height: 410px;
  margin-top: 48px;
  width: 50%; }
  @media (max-width: 768px) {
    .hero-gray-card {
      width: 100%;
      overflow-x: clip;
      height: 540px; } }

.header-button {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  font-size: 15px;
  width: 20%; }

.logo {
  text-align: center; }

.hero-logo {
  font-size: 36px; }

.search-form-box {
  display: flex;
  justify-content: space-around;
  min-height: 100%;
  margin: 0;
  padding: 8px;
  width: 100%;
  background-color: #252830;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold; }
  @media (max-width: 576px) {
    .search-form-box {
      width: 65%;
      font-size: 14px; } }
  .search-form-box-input {
    background-color: #252830;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-left: 16px; }
    @media (max-width: 576px) {
      .search-form-box-input {
        font-size: 12px; } }

.sidebar {
  background: #1F1F26; }
  @media (max-width: 576px) {
    .sidebar {
      display: none; } }

.discription-start-coding {
  color: #b7bbc8;
  font-size: 0.8rem;
  text-align: center; }

.sub-menu {
  padding: 16px 0; }
  .sub-menu-list {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    margin-left: 0; }
    .sub-menu-list-title {
      font-size: 0.8rem;
      margin-bottom: 0;
      padding-left: 16px; }
    .sub-menu-list-text {
      padding-left: 16px; }
      .sub-menu-list-text:hover {
        background-color: #000; }

.text-blue {
  color: #7a99ad; }

.text-green {
  color: #74b087; }

.text-primary {
  color: #0ebeff; }

.text-success {
  color: #47cf73; }

.text-warning {
  color: #ffdd40; }

.text-light-blue {
  color: #0ebeff; }

.text-muted {
  color: #b7bbc8; }

.text-orange {
  color: #a88038; }

.text-purple {
  color: #9f8198; }

.text-yellow {
  color: #e1ca72; }

.text-big-h1 {
  font-size: 3rem;
  margin: 0;
  font-weight: 900; }
  @media (max-width: 576px) {
    .text-big-h1 {
      font-size: 2rem; } }

.text-big-p {
  font-size: 1.1rem; }

.text-bold {
  font-weight: bold; }
