.footer
  background: $color-black
  justify-content: space-between
  &-two
    margin: 0 2rem
  &-list
    display: flex
    list-style: none
    &-item
      margin-right: 2rem
      color: $color-muted
      &-bold
        color: $color-white
        font-weight: bold
