.l-main
  width: 100%
  .l-header
    display: flex
    width: 100
    align-items: center
    margin: 16px
    .search-box
      display: flex
      justify-content: space-around
      min-height: 100%
      margin: 0
      padding: 8px
      width: 80%
      background-color: #252830
      border-radius: 4px
      font-size: 18px
      font-weight: bold
    .header-button
      display: flex
      justify-content: space-around
      padding: 2px
      font-size: 15px
      width: 20%
    input
      background-color: transparent
      border: none
      height: 100%
      width: 100%
      font-size: 18px
      font-weight: bold
      margin-left: 16px
