.hero
  &-content
    display: flex
  &-discription
    width: 50%
    padding: 48px
    margin: 0
  &-gray-card
    width: 495px
    height: 410px
    background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%)
    width: 50%
