.hero
  &-content
    display: flex
  &-discription
    width: 50%
    padding: 48px
    margin: 0
  &-gray-card
    background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%)
    height: 410px
    margin-top: 48px
    width: 50%
.card-code
  position: relative
  left: 280px
  bottom: 20px
  height: 180px
  padding: 10px
  width: 300px
  background-color: $color-black
  &-html
    display: flex
    justify-content: space-between
.card-code-two
  position: relative
  left: 340px
  bottom: 10px
  height: 180px
  padding: 10px
  width: 300px
  background-color: $color-black
  &-html
    display: flex
    justify-content: space-between
.card-code-three
  position: relative
  left: 280px
  bottom: 0px
  height: 180px
  padding: 10px
  width: 300px
  background-color: $color-black
  &-html
    display: flex
    justify-content: space-between
.cursor
  animation: blink 1s infinite
@keyframes blink{0% {color: #fff}100% {color: #000}}
