h1
  .logo
    margin: 0 20px
.l-sidebar
  min-width: 220px
.sidebar
  background: $color-dark
  padding: 0 16px
  height: 100vh
  .discription-start-coding
    color: $color-muted
    font-size: 0.8rem
  h2
    margin-bottom: 0
  ul
    list-style: none
    padding-left: 0
    margin-left: 0
  .sub-menu
    padding: 16px 0
    &-list
      a
        text-decoration: none
      &-title
        font-size: 0.8rem
